body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-flow: column wrap;
    background-color: gray;
    align-items: center;
    border: 10px solid rgb(7, 41, 71);
}

#output {
    font-size: 6em;
    width: 6em;
    border: 10px solid green;
}

.buttons > div {
    display: flex;
    justify-content: center;
}

.buttons button {
    color: black;
    font-size: 5em;
    background-color:rgb(7, 41, 71);
    margin: 10px;
    padding: 10px;
    border: 10px solid green;
}

.buttons button:hover {
    font-size: 5em;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border: 10px solid green;
}